@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:wght@400;700&display=swap");
/* Start global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primaryColor: #f0d79c;
	--bgColor: #0c0c24;
	--textColor: #fcf6e9;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: var(--bgColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bungee", sans-serif;
	color: var(--primaryColor);
}

p {
	color: var(--textColor);
}

/* End global */

/* Start header */

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus-visible,
.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler:not(.collapsed) {
	box-shadow: 0px 0px 7px 0px #f0d79c;
}

.navbar-toggler i {
	color: var(--textColor);
}

header .navbar .nav-link {
	color: var(--textColor);
	font-size: 1.2rem;
}

.navbar-nav .nav-link.active {
	color: var(--primaryColor);
	font-weight: 700;
}

/* End header */

/* Start */
/* End */
