@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:wght@400;700&display=swap");
/* Start global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primaryColor: #f0d79c;
	--bgColor: #0c0c24;
	--textColor: #fcf6e9;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: var(--bgColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bungee", sans-serif;
	color: var(--primaryColor);
}

p {
	color: var(--textColor);
}

section {
	margin-block: 3em;
}

.button {
	padding: 1em 2em;
	border: none;
	background-color: var(--primaryColor);
	border-radius: 10px;
}

.bubble {
	width: 175px;
	height: 175px;
	border-radius: 50%;
	border: 8px solid var(--primaryColor);
	position: absolute;
	background-color: var(--bgColor);
}

.bubble-filled {
	background-color: var(--primaryColor);
}

.sectionTitle {
	position: relative;
	margin: 0 auto 3rem auto;
	font-size: 3rem;
	text-align: center;
}

.sectionTitle::after {
	content: "";
	width: 2em;
	height: 8px;
	background-color: var(--primaryColor);
	border-radius: 50px;
	position: absolute;
	bottom: -10px;
}

.sectionTitle.center::after {
	left: 50%;
	transform: translate(-50%, 0%);
}

.sectionTitle.left::after {
	left: 0%;
}

/* End global */

/* Start header */

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus-visible,
.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler:not(.collapsed) {
	box-shadow: 0px 0px 7px 0px #f0d79c;
}

.navbar-toggler i {
	color: var(--textColor);
}

header .navbar .nav-link {
	color: var(--textColor);
	font-size: 1.2em;
}

.navbar-nav .nav-link.active {
	color: var(--primaryColor);
	font-weight: 700;
}

/* End header */

/* Start  Hero*/

section.hero h1 {
	font-size: 4em;
}

section.hero .row > :nth-child(2) {
	height: 250px;
}

section.hero .img {
	position: relative;
	width: 200px;
	height: 200px; 
	margin: 0 auto;
	transform: translate(25%, 25%);
}

section.hero .img .bubble {
	position: absolute;
}

section.hero .img .bubble:nth-child(1) {
	top: -51px;
	right: 85px;
	z-index: 2;
}

section.hero .img .bubble:nth-child(2) {
	top: -119px;
	left: -122px;
}

section.hero .img .bubble:nth-child(3) {
	top: 115px;
	left: 30px;
}

section.hero img {
	border-radius: 50%;
	position: absolute;
	z-index: 5;
}

@media (max-width: 768px) {
	section.hero .img {
		top: 100px;
	}
	section.hero .row > :nth-child(2) {
		height: 450px;
	}
}

/* End Hero*/

/* Start About */

section.about .aboutImage {
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 20px;
	border: 3px solid var(--primaryColor);
}

section.about .aboutImage img {
	height: 100%;
	width: 100%;
	border-radius: inherit;
}

section.about p {
	font-size: 1.5em;
}

/* End About */

/* Start Services */

section.services .service {
	border-radius: 5px;
	border: 5px solid var(--primaryColor);
	padding: 20px;
}

section.services .service img {
	width: 40px;
	aspect-ratio: 1/1;
}

/* End Services */

/* Start */
/* End */

